html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/invoice.css')
    title Cressoft AMS Employee Attendance Report
  body
    include header1.pug
    div.table-container
      if reportData.length > 0
        h2 #{reportData[0].name}'s Attendance Report for the month of #{monthname}, #{year}
        table.table-bordered
          thead
            tr
              th Name
              th Check-in Time
              th Check-out Time
              th Date
              th Type
              th Reason
              th Location
          tbody
            each record in reportData
              tr
                td= record.name
                td= record.check_in_time
                td= record.check_out_time
                td= record.date
                td= record.type
                td= record.reason
                td= record.location
      else
        p No data available for the selected criteria.
      .button-container
        button.downloadBtn(type="button") Download as PDF

    // Script to handle PDF download
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.js")
    script.
      document.addEventListener('DOMContentLoaded', function () {
        const downloadButton = document.querySelector('.downloadBtn');

        downloadButton.addEventListener('click', function () {
          try {
            const tableContainer = document.querySelector('.table-container');
            const excludedElements = tableContainer.querySelectorAll('.button-container');
            excludedElements.forEach(element => element.remove());

            html2pdf().from(tableContainer).save();
          } catch (error) {
            console.error('Error generating PDF:', error);
            alert('An error occurred while generating the PDF.');
          }
        });
      });
