html
  head
    title Cressoft AMS Indvidual Leaves History
    link(rel='stylesheet', href='/invoice.css')
  body
    include header1.pug
    header
      h1.center.scaps Dear #{userName} Your Leaves History
  p Approved Leave Days: #{approvedLeaveDays}
  p Rejected Leave Days: #{rejectedLeaveDays}
  div.table-container
    table.table-bordered
      thead
        tr
          th Start Date
          th End Date
          th Reason
          th Status
      tbody
        each leave in leaves
          tr
            td= leave.start_date
            td= leave.end_date
            td= leave.reason
            td= leave.status
